<ion-row class="intern-card">
    <ion-col size="2"
      ><ion-icon name="person-circle-outline"></ion-icon
    ></ion-col>

    <ion-col size="9">
      <h2>{{ intern.lastname }} {{ intern.firstname }}</h2>
      <h3> {{intern.occupation }} chez 
        {{ intern.company.name }}
      </h3>
  
      <h4>{{ intern.poe.name }} {{ intern.poe.beginAt | date: 'yyyy' }} - {{ intern.poe.endAt }} </h4>
    </ion-col>

    <ion-col size="1">
      <ion-icon name="alert-circle-outline" size="large"></ion-icon>
    </ion-col>
  </ion-row>

